## Print Hello World

In [1]:
print("Hello World")
print("Hello World")

Hello World
Hello World

## Variables

In [5]:
a = 10
b = 30
sum = a+b
print(sum)

40

In [3]:
print(a+b)

40

## Strings

A sequence of characters or the sequence of unicodes.

In [6]:
s = 'parikh'
print(s)

parikh

In [7]:
s = """
My name is
Parikh
"""
print(s)

My name is
Parikh

In [11]:
s[4], s[-1]

('n', '\n')

In [12]:
s

'\nMy name is\nParikh\n'

## How STRINGS are Stored??

In [19]:
a = "Rohan"

In [20]:
id(a)

2357876667824

In [21]:
a = "parikh"

In [22]:
id(a)

2357876669168

## Strings are immutable

In [23]:
print(a[0])

p

In [24]:
a[0] = 'S'

TypeError: 'str' object does not support item assignment

## Operations on Strings

* Split
* Replace
* Find
* Lower
* Upper
* Startswith
* EndsWith

In [30]:
string = "My,name,is,Parikh"
li = string.split(',',2)
li

['My', 'name', 'is,Parikh']

In [35]:
string = "My name is parikh parikh parikh parikh parikh parikh parikh parikh"
new_String= string.replace("parikh","Rohan",2)
new_replace_all = string.replace("parikh","rohan")
print(string)
print(new_String)
print(new_replace_all)

My name is parikh parikh parikh parikh parikh parikh parikh parikh
My name is Rohan Rohan parikh parikh parikh parikh parikh parikh
My name is rohan rohan rohan rohan rohan rohan rohan rohan

In [44]:
#finds the index of the substring
string = "My name is parikh"
index = string.find('r')
index_not_present = string.find('z')
print(index)
print(index_not_present)
#index of the  letter whoever comes first
string = "My name is parikh parikh parikh"
index_of_first_substring= string.find("par")
print(index_of_first_substring)
# from 0 to n-1
index_of_range = string.find("par", 16, 20)
print(index_of_range)
index_of_range = string.find("par", 16, 21)
print(index_of_range)

13
-1
11
-1
18

In [51]:
string = "My name is Parikh"
string.lower()
changed_string = string.lower()
print(string)
print(changed_string)
upper_string = changed_string.upper()
print(upper_string)

My name is Parikh
my name is parikh
MY NAME IS PARIKH

In [52]:
# Checks whether the string starts with the given character or not.
string = "My name is Parikh"
print(string.startswith('Pa'))
print(string.startswith('Pa',11, 25))
print(string.endswith('kh'))

False
True
True

## String Slicing

In [53]:
s = "Parikh"

In [67]:
print(s[:])
print(s[1:4])
print(s[1:4:2])
print(s[6:4])
print(s[-1])
print(s[-5:-3])
print(s[1:])
print(s[:-1])
print(s[-5:-3:-2])
print(s[-5::2])
print(s[4:1:-1])
print(s[5::-1])
print(s[:2:-1])

Parikh
ari
ai

h
ar
arikh
Parik

aih
kir
hkiraP
hki

In [69]:
s = "abcdefghi"
print(s[-3:-1])

gh

# Tuples

* Tuples are immutable ordered lists

In [74]:
a = (1,2)
print(a)
print(type(a))

(1, 2)
<class 'tuple'>

In [75]:
b = 5, 6
print(b)
print(type(b))
print(b[0])
print(b[1])

(5, 6)
<class 'tuple'>
5
6

In [76]:
print(b[-1])

6

## Tuple functions

In [77]:
a = (1,2,3)
b = 4, 5

In [78]:
for i in a:
    print(i)

1
2
3

In [79]:
1 in a

True

In [80]:
1 in b

False

In [81]:
len(a)

3

In [82]:
c = a + b

In [83]:
print(c)

(1, 2, 3, 4, 5)

In [84]:
d = (a, b)
print(d)

((1, 2, 3), (4, 5))

In [85]:
e = a*4
print(e)

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [86]:
min(a)

1

In [87]:
print(a)

(1, 2, 3)

In [93]:
a2 = (1, 2, 3, "s", (4, 5))
print(a2)
min(a2)

(1, 2, 3, 's', (4, 5))

TypeError: '<' not supported between instances of 'str' and 'int'

In [94]:
a2 = (1, 2, 3, (4, 5))
max(a2)

TypeError: '>' not supported between instances of 'tuple' and 'int'

In [99]:
a3 = ((1,2,4),(1,1))
print(a3)
max(a3)

((1, 2, 4), (1, 1))

(1, 2, 4)

In [100]:
min(a3)

(1, 1)

In [104]:
a = list([1,2,3,4])
print(a)

[1, 2, 3, 4]

In [107]:
tuples = tuple(a)
print(tuples)

(1, 2, 3, 4)