In [1]:
import numpy as np

In [2]:
a1 = np.array([1,2,3])

In [3]:
a1.dtype

dtype('int32')

In [4]:
type(a1)

numpy.ndarray

In [5]:
a1

array([1, 2, 3])

In [10]:
a2 = np.array([[1,2,3],
              [4, 5, 6.3]])

a3 = np.array([[[1,2,3],
              [4,5,6],
              [7,8,9]],
             [[10, 11, 12],
             [13,14,15],
             [16,17,18]]])

In [11]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [12]:
a1.shape

(3,)

In [13]:
a2.shape

(2, 3)

In [14]:
a3.shape

(2, 3, 3)

In [15]:
a1.ndim

1

In [16]:
a2.ndim

2

In [17]:
a3.ndim

3

In [18]:
a3.size

18

In [19]:
type(a1), type(a2), type(a3)

(numpy.ndarray, numpy.ndarray, numpy.ndarray)

In [20]:
import pandas as pd

In [22]:
df = pd.DataFrame(a1)
df

   0
0  1
1  2
2  3

In [27]:
df1 = pd.DataFrame(a2)
df1

     0    1    2
0  1.0  2.0  3.0
1  4.0  5.0  6.3

In [25]:
df2 = pd.DataFrame(a3)
df2

ValueError: Must pass 2-d input. shape=(2, 3, 3)